#container {
    display: grid;
    width:100%;
    height: 100vh;
    grid-template-columns:  1fr  1fr;
    grid-template-rows: 80px 80px 1fr 1fr 80px;
    text-align: center;
    grid-template-areas:
        'h h'
        'm m'
        'c1 c3'
        'c2 c2'
        'f f'
    
}

@media only screen and (min-width:600px){
    #container {
        grid-template-columns:  1fr 1fr 1fr;
        grid-template-rows: 80px 80px 1fr 1fr 80px;
        grid-template-areas:
        'h h h'
        'm m m'
        'c1 c2 c3'
        'c1 c2 c3'
        'f f f'
        
    }
    
}
#header{
    background-color: rgb(136, 136, 238);
    grid-area: h;
}


#footer{
    grid-area: f;
    background-color: rgb(53, 105, 105);
}

#menuContainer {
    grid-area: m;
    display: flex;
    background-color:  rgb(53, 105, 105);
    justify-content:flex-start;
}

#column1
{
    grid-area: c1;
    background-color: rgb(202, 199, 199);
}
#column2
{
    grid-area: c2;
    background-color: rgb(77, 75, 75);
    
}
#column3
{
    grid-area: c3;
    background-color: rgb(202, 199, 199);
}


#menuContainer > div{
    width: 15%;
   margin: 0 0 0 10px;
   font-weight: 300;
   color: white;
   border-right:1px solid black;
}

#menu1, #menu2 ,#menu3{
   display: flex;
   align-items: center;
   justify-content: center;
}

