body{
    background-color: rgb(90, 87, 87);
    color: white;
}

.heading{
    color: rgb(148, 148, 227);
}
#movie a{
    color:red;
    text-decoration: none;
    
}
#movie a:hover{
    text-decoration: underline;
    
}
header p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#neighbors ul li{
    font-style: italic;
}

#movie p{
    font-style: italic;
}

header p span:first-child{
    color: rgb(255, 132, 0);
}


header p span:last-child{
    color: #ff0090;
}
html{
    font-size: 16px;
}
p::first-letter{
    font-size: 1.5rem;
}
