<!DOCTYPE html>
<html lang='en'>
 <head>
 <meta charset="utf-8">
 <title>Current time</title>
 <%if(parseInt(time.substring(0,2))>=6 && parseInt(time.substring(0,2))<=18){%>
    <link href="/css/day.css" rel="stylesheet">
     <%}else{%>
     <link href="/css/night.css" rel="stylesheet">
     <%}%>
 </head>
 <body>
 This page was loaded at <%= time %>
 </body>
</html>